<!doctype html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <link href="/reset.css" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Recall</a></h1>
    </hgroup>
  </header>
  
  <div id="content">
    <%= yield %>
  </div>
  
</body>
</html>